{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<br>
<h1 align="center">Phillip Island House Voting</h1>
<br>
<div class="container">
    <p class="lead" align="center">
        Welcome to the official Muts House Allocation web application.
        <br>
        This is a page dedicated to the house voting system for 2024's Phillip Island Trip.
        <br>
        <br>
        To cast your vote, please firstly <a href="/sign-up">sign up</a>.
        <br>
        If you have signed up already, please <a href="/login">log in</a>.
        <br>
        <br>
        Please also ensure that you are familiar with the Phillip Island 2024 Voting <a href="/termsandconditions">Terms and Conditions</a>.
    </p>

</div>
{% endblock %}