{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<form method="POST">
    <br>
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <label for="name">Select Your Name:</label>
        <select class="form-select" id="name" name="name">
            {% for name in available_names %}
            <option value="{{ name.id }}">{{ name.name }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
        />
    </div>
    <br>
    <div class="form-group">
        <label for="password1" class="form-label">Password</label>
        <input
            type="password"
            class="form-control"
            aria-describedby="password_help"
            id="password1"
            name="password1"
            placeholder="Enter password"
        />
        <div id="password_help" class="form-text">
            Your password must be greater than 7 characters in length.
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm password"
        />
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}