{% extends "base.html" %}
{% block title %}Terms and Conditions{% endblock %}

{% block content %}
<br>
<h1 align="center"><b>Terms and Conditions</b></h1>
<br>
<div class="container">
    <p class="lead" align="center">
        Welcome to the Muts' Annual Trip 2024 set to be at Phillip Island.
        <br>
        Please take a moment to familiarise yourself with the following terms and conditions.
        <br>
        By participating in the voting, you agree to abide by the following rules and regulations.
    </p>
    <br>
    <br>
    <h2 align="center">Voting for Your Housemates</h2>
    <br>
    <p class="lead" align="center">
        Each Mut is allowed to cast votes for a maximum of <em>two</em> fellow Muts they wish to share a house with during the trip.
        <br>
        There is no dedicated order to your votes. That is, your first vote has no greater weight or influence than your second vote. They are deemed equal.
        <br>
        Once submitted, your votes are final. If you made a mistake when submitting your votes, you must send an email to the esteemed trip organizer and creator of The Algorithm™.
        <br>
        <br>
        We acknowledge that there will be unforeseen circumstances resulting in Muts who have placed votes and/or been voted for pulling out from the event. These cases will be handled accordingly and fairly under the <em>Muts Fair Work Act 1979</em>.
    </p>
    <br>
    <h2 align="center">Personal Information</h2>
    <br>
    <p class="lead" align="center">
        To participate, you must sign up under your own name and use a valid email address. Pseudonyms and disposable email addresses <em>will</em> lead to disciplinary action taken against you.
        <br>
        If you decide to sign up under someone else's name your votes and every vote for you will be disregarded and you will be place in a house at random once the results are complete.
        <br>
        <br>
        Don't worry about passwords being leaked or known to the creator of this webpage. Each password is encrypted using SHA-256 and encrypted during comparison.
    </p>
    <br>
    <h2 align="center">The Algorithm™ has the Final Say</h2>
    <br>
    <p class="lead" align="center">
        The results, as determined by The Algorithm™, are absolutely final. There's no room for negotiations or debates.
        <br>
        If you do decide to dispute the results, you must do so formally, with a proper complaint submitted to the esteemed trip organizer and creator of The Algorithm™.
    </p>
</div>

{% endblock %}