{% extends "base.html" %}
{% block title %}Vote{% endblock %}

{% block content %}

{% if not all_voted %}
<form method="POST" id="vote">
    <br>
    <h2 align="center">Vote for your Mut</h2>
    <br>
    <p class="lead" align="center">
        Please select your preferences for your house.
        <br>
        <br>
        Make sure they are both different and press the submit button once you are happy with your two votes.
        <br>
        <br>
        As a reminder, both votes are treated equally, there is no order to them.
    </p>
    <br>
    <div class="form-group">
        <label for="first_vote"><h4>First Vote</h4></label>
        <select class="form-select" id="first_vote" name="first_vote">
            {% for name in vote_names %}
            <option value="{{ name.id }}">{{ name.name }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div class="form-group">
        <label for="second_vote"><h4>Second Vote</h4></label>
        <select class="form-select" id="second_vote" name="second_vote">
            {% for name in vote_names %}
            <option value="{{ name.id }}">{{ name.name }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% else %}
<br>
<h1 align="center">Everyone Has Voted.</h1>
<br>
<p class="lead" align="center">Check your email for your house.</p>
{% endif %}
{% endblock %}